[submodule "blockly"]
	path = blockly
	url = https://github.com/SybelBlue/blockly.git
[submodule "closure"]
	path = closure-library
	url = https://github.com/google/closure-library.git
[submodule "spatial"]
	path = spatial
	url = https://github.com/Francis1240/blockly.git
